/*regole generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    margin-top: 68px;
    font-size: 22px;
    margin-bottom: 25px;
}

.round-box {
    border-radius: 50%;
}

#wrapper {
    /*debug*/
    background-color: black;
    height: calc(100vh - 90px);

    display: flex;
}

#main {
    background-color: #141922;
    color: white;
}

#green-border {
    border-bottom: 3px solid green;
}

.gray-text {
    color: #7D7F84;
}

#upgrade-btn {
    padding: 12px;
    border-radius: 33px;
    border: solid 1px white;
    font-size: 10px;
}

#upgrade-btn:hover {
    padding: 15px;
    font-size: 11px;
}

#big-logo{
    width: 130px;
    margin-top: 25px;
}

#small-logo {
    height: 30px;
    margin-top: 40px;
    display: none;
}

ul {
    list-style: none;
}

#call-to {
    /*debug*/
    height: 90px;
    background-color: #080B12;
    display: flex;
    justify-content: end;
    align-items: center;
}

#genres {
    padding-top: 30px;
    background-color: #141922;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
}

#content {
    width: 95%;
    margin: 0 auto;
    height: calc(100vh - 225px);
    overflow-y: scroll;
}

#menu {
    display: flex;
    /*debug*/
    background-color: #080B12;
    min-width: 215px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

#menu-list {
    margin-top: 20px;
}

#menu-list img {
    width: 25px;
}

#playlist {
    margin-top: 20px;
}

#playlist *{
    margin-bottom: 15px;
}

#playlist a {
    color: #7D7F84;
}

#install-btn{
    font-size: 20px;
}

a:hover {
    color: white;
}

#plus-row-wrapper:hover {
    color:white;
}

#plus-row-wrapper:hover #plus-wrapper{
    background-color:white;
}

#playlist a:hover {
    color: white;
}

#plus-icon {
    font-size: 30px;
    color: black;
    padding-left: 5px;
    margin-top: 5px;
}


.card-pics {
    position: relative;
    opacity: 1;
    width: 100%;
}

.hover-play {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.card-pics:hover .hover-play {
    display: block;
}

.black-back {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.card-pics:hover .black-back{
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
}

.black-back {
    background-color: black;
}

.row {
    display: flex;
    width: 95%;
}

.column {
    height: 175px;
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    gap:15px;
    flex-wrap: wrap;
}

footer {
    display: flex;
    height: 90px;
    background-color: #282828;
    position: fixed;
    z-index: 5000;
    width: 100%;
    min-width: 600px;
}

#left {
    height: 90px;
    display: flex;
    color: white;
    align-items: center;
    padding-left: 20px;
    font-size: 12px;
    min-width: 30%;
}

footer i {
    color: white;
    margin-right: 10px;
    margin-left: 20px;
}

#left img {
    width: 42px;
    height: 42px;
    margin-right: 20px;
}

#mid {
    min-width: 40%;
    height: 90px;
    display: flex;
    flex-direction: column;
}

#mid i {
    font-size: 20px;
}

#right {
    height: 90px;
    display: flex;
    align-items: center;
    width: 30%;
    padding-left: 18px;
    justify-content: end;
}

#footer-container {
    /*debug*/
    display: flex;
    min-height: 90px;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-between;
}

#footer-icons {
    margin: 0 auto;
}

#mid {
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.card {
    width: calc(100% / 6 - (75px / 6));
    flex-shrink: 0;
    text-align: center;
}

#home-btn {
    border-left: solid 3px green;
}

#plus-wrapper {
    background-color: #A3A3A3;
    width: 40px;
    height: 40px;
    
}

#plus-row-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    max-width: 100%;
}

#circle {
    background-color: #808080;
    border-radius: 33px;
}

#profile-area *{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-weight: 700;
}


#profile-area img {
    width: 25px;
    height: 25px;
}

#track {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#inner-track {
    width: 80%;
    height: 3px;
    background-color: gray;
    display: flex;
    
    
}

#small-track {
    width: 40%;
    height: 3px;
    background-color: gray;
}

.inner-progression {
    width: 24%;
    height: 3px;
    background-color: #C1C1C1;
    position: relative;
}

.marker {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 33px;
    position: absolute;
    top:1px;
    right:-7px;
    transform: translate(-50%, -50%);
    display: none;
}

#inner-track:hover .inner-progression,
#small-track:hover .inner-progression {
    background-color: green;
}

#inner-track:hover .marker,
#small-track:hover .marker {
    display: block;
}

#left i {
    color: #878787;
}

#left i:hover {
    color: white;
}

#footer-play:hover {
    font-size:30px;
}


@media screen and (max-width: 878px) {
    .card {
        width: calc(100% / 4 - (60px / 4));
    }

    .row {
        margin-top: 50px;
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 640px) {
    .card {
        width: calc(100% / 2 - (60px / 2));;
    }

    .row {
        margin-top: 50px;
        margin-bottom: 350px;
    }

}

@media screen and (max-width: 552px) {
    .hide-text {
        display: none !important; /*risolvi*/
    }

    #menu {
        width: 48px;
        min-width: 48px;
    }

    #profile-area {
        display: flex;
        flex-direction: column;
    }

    #small-logo {
        display: block
    }

    #big-logo {
        display: none;
    }
}