/*regole generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    margin-top: 68px;
}

#wrapper {
    /*debug*/
    background-color: black;
    height: calc(100vh - 90px);

    display: flex;
}

#main {
    width:85%;
    background-color: #141922;
    flex-shrink: 1;
    color: white;
}

.gray-text {
    color: #7D7F84;
}

#upgrade-btn {
    padding: 10px;
    color: white;
    border-radius: 33px;
    border: solid 1px white;
}

#logo-box {
    height: 90px;
    width: 100%;
}

#big-logo{
    width: 130px;
    margin-top: 40px;

}

ul {
    list-style: none;
}

#call-to {
    /*debug*/
    height: 90px;
    background-color: #080B12;
    display: flex;
    justify-content: end;
    align-items: center;
}

#genres {
    padding-top: 30px;
    height: 45px;
    background-color: #141922;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: 12px;
}

#genres * {
    flex-shrink: 0;
}

#content {
    width: 95%;
    margin: 0 auto;
    height: calc(100vh - 225px);
    overflow-y: scroll;
}

#menu {
    width: 15%;
    display: flex;
    /*debug*/
    background-color: #080B12;
    height: 100%;
    flex-shrink: 0;
    min-width: 215px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

#menu-list {
    margin-top: 20px;
}

#menu-list img {
    width: 25px;
    height: 25px;
}

#playlist {
    margin-top: 20px;
}

#playlist *{
    margin-bottom: 10px;
}

#playlist a {
    color: #7D7F84;
}

#plus-icon {
    font-size: 30px;
}


#profile-area img {
    width: 30px;
}


.row {
    display: flex;
    width: 95%;
}

.column {
    height: 175px;
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    gap:15px;
    flex-wrap: wrap;
}

footer {
    display: flex;
    height: 90px;
    background-color: #282828;
}

#left {
    width: 23%;
    height: 90px;
    display: flex;
    color: white;
    align-items: center;
}

footer i {
    color: white;
}

#left img {
    width: 42px;
    height: 42px;
}

#mid {
    width: 54%;
    height: 90px;
    display: flex;
    flex-direction: column;
}

#right {
    width: 23%;
    height: 90px;
}

#footer-container {
    /*debug*/
    display: flex;
    min-height: 90px;
    flex-shrink: 0;
    width: 100%;
}

#mid {
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.card {
    width: calc(100% / 6 - (75px / 6));
    flex-shrink: 0;
    text-align: center;
}

img {
    max-width: 100%;
}

#circle {
    background-color: #808080;
    border-radius: 33px;
}

#profile-area img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 878px) {
    .card {
        width: calc(100% / 4 - (60px / 4));
    }

    .row {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
